Redirect 301 /mersenne/LukeMirror/lit/lit_069s.htm /mersenne/literature/mersenne.html
Redirect 301 /mersenne/LukeMirror/lit/lit_008s.htm /mersenne/literature/archibald.html
Redirect 301 /mersenne/LukeMirror/lit/lit_024s.htm /mersenne/literature/robinson.html
Redirect 301 /mersenne/LukeMirror/lit/lit_024.htm /mersenne/literature/robinson.html
Redirect 301 /mersenne/LukeMirror/lit/lit_024.txt /mersenne/literature/robinson.html
Redirect 301 /mersenne/LukeMirror/lit/lit_067s.htm /mersenne/literature/lucas.html
Redirect 301 /mersenne/LukeMirror/lit/lit_068s.htm /mersenne/literature/lucasEnglish.html
Redirect 301 /mersenne/LukeMirror/lit/lit_002.txt /mersenne/literature/powers.txt
Redirect 301 /mersenne/LukeMirror/lit/lit_003.txt /mersenne/literature/powers2.html
Redirect 301 /mersenne/LukeMirror/lit/lit_003s.htm /mersenne/literature/powers2.html
Redirect 301 /mersenne/LukeMirror/lit/lit_006.htm /mersenne/literature/powers3.html
Redirect 301 /mersenne/LukeMirror/lit/lit_006.txt /mersenne/literature/powers3.html
Redirect 301 /mersenne/LukeMirror/lit/lit_007s.htm /mersenne/literature/lehmer.html
Redirect 301 /mersenne/LukeMirror/lit/lit_009s.htm /mersenne/literature/uhler.html
Redirect 301 /mersenne/LukeMirror/lit/lit_009.txt /mersenne/literature/uhler.html
Redirect 301 /mersenne/LukeMirror/lit/lit_010s.htm /mersenne/literature/uhler2.html
Redirect 301 /mersenne/LukeMirror/lit/lit_010.txt /mersenne/literature/uhler2.html
Redirect 301 /mersenne/LukeMirror/lit/lit_011s.htm /mersenne/literature/uhler3.html
Redirect 301 /mersenne/LukeMirror/lit/lit_065s.htm /mersenne/literature/ferrier.html
Redirect 301 /mersenne/LukeMirror/lit/lit_066s.htm /mersenne/literature/ferrierEnglish.html
Redirect 301 /mersenne/LukeMirror/lit/lit_016s.htm /mersenne/literature/archibald2.html
Redirect 301 /mersenne/LukeMirror/lit/lit_018s.htm /mersenne/literature/archibald3.html
Redirect 301 /mersenne/LukeMirror/lit/lit_062s.htm /mersenne/literature/millerWheeler.html
Redirect 301 /mersenne/LukeMirror/lit/lit_062.htm /mersenne/literature/millerWheeler.html
Redirect 301 /mersenne/LukeMirror/lit/lit_062.txt /mersenne/literature/millerWheeler.html
Redirect 301 /mersenne/LukeMirror/lit/lit_063.txt /mersenne/literature/miller.txt
Redirect 301 /mersenne/LukeMirror/lit/lit_019.txt /mersenne/literature/uhler4.html
Redirect 301 /mersenne/LukeMirror/lit/lit_019.htm /mersenne/literature/uhler4.html
Redirect 301 /mersenne/LukeMirror/lit/lit_020s.htm /mersenne/literature/lehmer2.html
Redirect 301 /mersenne/LukeMirror/lit/lit_021s.htm /mersenne/literature/lehmer3.html
Redirect 301 /mersenne/LukeMirror/lit/lit_021.txt /mersenne/literature/lehmer3.html
Redirect 301 /mersenne/LukeMirror/lit/lit_022s.htm /mersenne/literature/lehmer4.html
Redirect 301 /mersenne/LukeMirror/lit/lit_022.txt /mersenne/literature/lehmer4.html
Redirect 301 /mersenne/LukeMirror/lit/lit_024s.htm /mersenne/literature/robinson.html
Redirect 301 /mersenne/LukeMirror/lit/lit_024.htm /mersenne/literature/robinson.html
Redirect 301 /mersenne/LukeMirror/lit/lit_024.txt /mersenne/literature/robinson.html
Redirect 301 /mersenne/LukeMirror/lit/lit_027s.htm /mersenne/literature/riesel.html
Redirect 301 /mersenne/LukeMirror/lit/lit_028s.htm /mersenne/literature/selfridge.html
Redirect 301 /mersenne/LukeMirror/lit/lit_035s.htm /mersenne/literature/hurwitz.html
Redirect 301 /mersenne/LukeMirror/lit/lit_035.htm /mersenne/literature/hurwitz.html
Redirect 301 /mersenne/LukeMirror/lit/lit_035.txt /mersenne/literature/hurwitz.html
Redirect 301 /mersenne/LukeMirror/lit/lit_039s.htm /mersenne/literature/selfridgeHurwitz.html
Redirect 301 /mersenne/LukeMirror/lit/lit_040s.htm /mersenne/literature/kravitzBerg.html
Redirect 301 /mersenne/LukeMirror/lit/lit_048s.htm /mersenne/literature/shanksKravitz.html

Redirect 301 /mersenne/LukeMirror/biblio.htm /mersenne/biblio.html